* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.row::after{
    
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
}
.dot{
    border-style: none dashed none none;
    border-top-style: none;
    border-right-style: dashed;
    border-bottom-style: none;
    border-left-style: none;
    border-color: #99AABA;
    margin-top: 20px;
    margin-bottom: 200px;
    height: 81em;
    position: absolute;
    left: 50%;
}
.Obesity{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 50px;
    font-weight: 900;
    color: aqua;
    text-align: center;
}
.info{
    padding: 1%;
    font-family: 'Noto Sans' ,sans-serif;
    font-size: 50px;
    font-weight:900;
    color: #FCBF17;
    text-align: center;
}
.p{
    font-family: 'Noto Sans' ,sans-serif;
    font-size: 20px;
    font-weight:200;
    color: rgb(110, 110, 107);
    text-align: center;
}
.boxed{
    border: 1px solid blue;
    width: 90%;
    margin-left: 5%;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    height: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #19AEC2;
}
.INCREASING{
    font-family: 'Noto Sans', sans-serif;
    color: #416274;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    padding-left: 5%;
}
.PORTION{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 40px;
    font-weight: 500;
    color: #416274;
    text-align: left;
    padding-left: 5%;
}
.p1{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 20px;
    font-weight:bold;
    color: rgb(7, 122, 143);
    text-align: left;
    padding-left: 5%;
}
.cake{ width: 90%;}
.cak{
    margin-right: 20%;
    height: 100px;
    width: 100px;
}
.junk{ 
    height: 200px;
    margin-right: 20px;
}
.jk{
    margin-bottom: 10%;
    height: 90px;
    width: 150px;
}
.NEARLY{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 20px;
    font-weight: 900;
    color: #416274;
    text-align: right;
    margin-right: 80%;
}
.f500{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 20px;
    font-weight: 900;
    color: #FCBF17;
    text-align: right;
    margin-right: 80%;
}
.millio{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 15px;
    font-weight:bold;
    color: rgb(7, 122, 143);
    text-align: right;
    margin-right: 80%;
}
.pep1{
    float: right;
    height: 80px;
    width: 300px;
    margin-top: 2px;
    margin-right: 20%;
    
}
.pep2{
    float: right;
    height: 80px;
    width: 150px;
    margin-top: 2px;
    margin-right: 40%;
}
.pep3{
    float: right;
    height: 80px;
    width: 75px;
    margin-top: 2px;
    margin-right: 50%;
}
.adult{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 25px;
    font-weight: 400;
    color: #FCBF17;
    text-align: right;
    padding-right:70%;
}
.f65{
    font-family: 'Noto Sans' ,sans-serif ;
    font-size: 50px;
    font-weight: 500;
    color: rgb(71, 71, 68);
    text-align: right;
    padding-right: 70%;
}
.boxedr{
    border: 1px solid blue;
    width: 90%;
    margin-left: 5%;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    height: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #19AEC2;
}
.pep4{
    float: right;
    height: 80px;
    width: 75px;
    margin-top: -5px;
    margin-right: 10%;
}
.whole{
    font-family: 'Noto Sans', sans-serif;
    color: #19A6B8;
    font-size: 35px;
    padding-left:10%;
}
.h100{
    font-family: 'Noto Sans', sans-serif;
    color: #FCBF17;
    font-size: 79px; 
    text-align: center;
    font-weight: 1000;
    margin-left: 20%;
    margin-top: -108px;
}
.h101{
    font-family: 'Noto Sans', sans-serif;
    color: #FCBF17;
    font-size: 79px; 
    text-align: center;
    font-weight: 1000;
    margin-left: 40%;
    margin-top: -108px;
}
.inject{
    float: left;
    width: 150px;
    margin-top: 10px;
}
.diab{
    font-family: 'Noto Sans', sans-serif;
    color: #416274;
    font-weight: 500;
    font-size: 50px;
    text-align: left;
    margin-left: 30%;
}
.db{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    margin-left: 30%;
    color: #FCBF17;
    font-weight: 400;
    font-size: 42px;
}
.db1{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    margin-left: 30%;
    color: #19A6B8;
    font-weight: 1000;
}